/* FULL PAGE STYLING */
html, body {
  height: 100vw;
  background-color: #F4F9E9; }

body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif !important; }

/* NAV STYLING */
nav {
  opacity: 0;
  position: fixed;
  z-index: 8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  nav svg {
    height: 10px;
    stroke-width: 10;
    stroke: #D45113;
    fill: transparent; }
    nav svg.active {
      fill: #D45113; }
  nav span {
    color: #D45113;
    display: none;
    margin-left: 5px; }
  nav button {
    padding: 10px;
    background: none;
    border: none;
    text-align: left;
    font-family: "Noto Sans";
    cursor: pointer; }
    nav button:hover span, nav button:focus-visible span {
      display: inline-block; }

/* GENERAL SECTION STYLING */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  position: relative;
  overflow: hidden;
  height: 100vh; }
  section a {
    display: block;
    margin: auto;
    padding: 1rem 1.25rem;
    font-family: sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: #F9A03F;
    position: relative;
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    z-index: 1; }
  section a:after {
    content: '';
    display: inline-block;
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 1.25rem;
    left: 1.25rem;
    background-color: #F9A03F;
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    transform-origin: bottom center;
    z-index: -1; }
  section a:hover {
    color: #F4F9E9; }
  section a:hover:after {
    right: 0;
    left: 0;
    height: 100%; }

section div.textSection {
  width: 80%; }

.publicationTitle {
  font-style: italic; }

/** For typing effect **/
.title-wrapper {
  padding: 10px;
  margin: 0 auto;
  width: 600px;
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center; }
  .title-wrapper .name {
    font-size: 6rem;
    margin: 0;
    color: #808D8E;
    text-align: left; }
  .title-wrapper .typing {
    min-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    color: #F9A03F; }
  .title-wrapper .typing:after {
    content: "";
    width: 10px;
    height: 4px;
    display: block;
    background: black;
    color: #F9A03F;
    margin-bottom: 4px;
    margin-left: 2px;
    animation-duration: 350ms;
    animation-name: fade;
    animation-direction: alternate;
    animation-iteration-count: infinite; }

.scrolling-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

/* FOOTER */
footer {
  background-color: #4B3B47;
  color: #F4F9E9;
  position: fixed;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100vw;
  padding: 6px;
  font-size: 0.5rem; }

.construction {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center; }
